@{
    ViewBag.Title = "Alumnado";
    ViewBag.Message = "Creación del sistema";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Ronnie Elías López López</strong>  LL100719<br />
    <strong>Maitreyi Emperatriz Pérez Platero</strong>  PP101319<br />
</address>