
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutAdmin/_LayoutAdmin.cshtml";
}


<div class="p-4">
    <div class="welcome">
        <div class="content rounded-3 p-3">
            <h1 class="fs-3">Bienvenidooooooooo</h1>
            <p class="mb-0">Hola es un gusto volver a verte!</p>
        </div>
    </div>
</div>